/*************************/
/**                     **/
/**    Landing Page     **/
/**                     **/
/*************************/

.enter-buttons {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

/*************************/
/**                     **/
/**    Home Page        **/
/**                     **/
/*************************/
#main-carousel {
	display: block;
}

#member-btns {
	grid-template-columns: 1fr 1fr;
}

.well {
	text-align: justify;
}

footer {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}


/*************************/
/**                     **/
/**   Member's Page     **/
/**                     **/
/*************************/

