/*************************/
/**                     **/
/**      CSS RESET      **/
/**                     **/
/*************************/
* {
	letter-spacing: 0.1em;
	font-family: 'Dosis', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	line-height: 1.6em;
}
/* Header and Navbars */
h1,
h2,
h3,
h4,
h5,
h6,
.navbar a {
	font-family: 'Jua', sans-serif;
	letter-spacing: 0.4rem;
	text-transform: uppercase;
}
/* Body Background */
body {
	padding-top: 70px; /* Space for Navbar */
	background: linear-gradient( rgba(15, 175, 167, 0.6), #270303cc), url("../img/haribon.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

/*************************/
/**                     **/
/**    Landing Page     **/
/**                     **/
/*************************/

#landing-container {
	max-width: 1200px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
	"imgland"
	"enterbtn"
	"disclaim";
	margin: auto;
	margin-top: -70px; /* negates body's padding-top */
	height: 100vh;
	justify-items: center;
	align-items: center;
}

	div.well#landing-image {
		background: transparent;
		width: 100%;
		text-align: center;
		margin: 0 auto;
		grid-area: imgland;
		display: grid;
	}

	div.well#landing-image div#landing-vid {
		display: none;
	}

	div.well#enter-buttons {
		display: grid;
		margin: 0 auto;
		grid-template-rows: 1fr 1fr;
		grid-area: enterbtn;
		padding: 2vh;
		grid-gap: 3vh;
	}

		div.well#enter-buttons a.btn.btn-primary.btn-sm {
			background: transparent;
			border: 1px solid rgb(15, 175, 167);
		}

		div.well#enter-buttons a.btn.btn-primary.btn-sm:hover {
			background: teal;
			color: black;
		}

	div.panel#panel-disclaimer {
		width: 100%;
		min-height: 25vh;
		grid-area: disclaim;
		margin: 0;
		padding: 0;
		font-size: 0.7em;
		color: white;
		align-self: end;
	}


/*************************/
/**                     **/
/**    Home Page        **/
/**                     **/
/*************************/

/* Main Navbar Design  */
nav.navbar-default {
	background-color: transparent;
	border: 0;
	transform: scale(0.94);
		transition: transform 500ms linear;
}

	nav.navbar-default .navbar-brand {
		text-decoration: none;
		color: white;
		font-weight: bolder;
		font-size: inherit;
	}

	nav.navbar-default .navbar-brand:hover {
		background-color: rgb(15, 175, 167);
		color: black;
	}

	nav.navbar-default .navbar-nav>li>a {
		color: white;
	}

	.navbar-default .navbar-nav>li>a:hover {
		font-weight: bolder;
		color: black;
		background-color: rgb(15, 175, 167);
	}

	.page-active {
		background-color: #000;
		box-shadow: 0px 0px 10px 7px rgb(41, 201, 166);
	}

/* Navbar on scroll */
.navbar-fixed-top.scrolled {
	background-color: #000 !important;
		transition: background-color 500ms linear;
	box-shadow: 1px 5px 10px #2C886C;
		transition: box-shadow 500ms linear;
	transform: scale(1.0);
		transition: transform 500ms linear;
}

/* Carousel on Homepage */
#main-carousel {
	width: 60%;
	margin: 0 auto; 
	margin-bottom: 2vh;
	display: none; /* no display on mobile-devices */
}

	/* Set the images dimension */
	.carousel-inner>.item>img {
		width: 100%; 
		height: 40vh;
	}

/* User/Member Buttons */
div#member-btns {
	display: grid;
	grid-gap: 1vh;
}

	div#member-btns .btn-primary,
	div#member-login form .btn-primary {
		background-color: transparent;
		border-color: teal;
		line-height: 5vh;
	}

		div#member-btns .btn-primary:hover,
		div#member-login form .btn-primary:hover {
			background-color: rgb(15, 175, 167);
			color: black;
		}

	div#member-login form {
		color: white;
	}

		button#submit-modal {
			float: right;
		}

/* Set universal panel style */
.panel {
	background-color: rgba(0, 0, 0, 0.6);
	border: 0;
}

	.panel-default>.panel-heading {
		background-color: rgba(0, 0, 0, 0.6);
		color: white;
		border: 0;
		border-radius: 5px;
	}

		.panel-title {
			letter-spacing: 0.5rem;
		}

/* Set universal well style */
.well {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	border: 0;
	text-align: initial;
	padding: 5vh;
}
	/* Blog post's img in a well */
	.well img.blog-img {
		width: 80%;
		margin: 0 auto;
		box-shadow: 3px -1px 20px 3px rgb(15, 175, 167);
	}

	/* Paragraph lead in a well */
	.well p.lead {
		text-decoration: underline;
		text-decoration-color: teal;
	}

	/* Mark in a well */
	.well mark {
		background-color: teal;
		color: black;
		font-weight: bold;
	}

	/* UL in a well */
	.well ul {
		list-style-type: none;
		list-style-position: inside;
	}

		.well ul li,
		.well ol li {
			padding: 1.5vh;
		}
	
	/* Toggle Content Button in a well */
	.well button.btn[href="#show-more"] {
		border: 0;
		background-color: transparent;
	}

		.well button.btn:hover,
		.well button.btn:active,
		.well button.btn:focus {
			color: teal;
		}


/**   Footer Section    **/

footer {
	background-color: #000;
	color: white;
	display: grid;
	grid-gap: 3vh;
	padding: 2vh;
	min-width: 80vw;
}

	footer a {
		text-decoration: none;
		color: white;
	}

	footer a:hover {
		text-decoration: none;
		color: teal;
	}

	textarea#comments-c {
		resize: none;
	}

	footer .btn.btn-primary {
		background-color: transparent;
		font-weight: bold;
	}

		footer .btn.btn-primary:hover {
			background-color: teal;
			color: black;
		}

/*************************/
/**                     **/
/**      About Page     **/
/**                     **/
/*************************/

/* Styling Haribon Logo */
div.well#about-well img {
	width: 50%;
	margin: 0 auto;
	filter: drop-shadow(5px 5px 10px #2C886C);
}

/*************************/
/**                     **/
/**   Activity Page     **/
/**                     **/
/*************************/

/*************************/
/**                     **/
/**   Member's Page     **/
/**                     **/
/*************************/

div.well#img-well {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	grid-gap: 2vh;
}

	div.well#img-well > img {
		filter: sepia(100%);
	}

		div.well#img-well > img:hover {
			filter: drop-shadow(5px 5px 10px #2C886C) sepia(0%);
			opacity: 0.7;
		}

		div.well#img-well img.img-modal01 {
			cursor: pointer;
			transition: 0.3s;
		}

		/* Universal model content */
		.modal-content {
			background-color: rgba(0, 0, 0, 0.6);
		}

			.modal-content .modal-header button.close {
				color: yellow;
			}

/*************************/
/**                     **/
/**   Officers Page     **/
/**                     **/
/*************************/

/*Officer's Well Container*/

div.well#officer-well h3 {
	font-size: 1.2em;
}

/* Officer's Grid Container */

section#officer-grid {
	display: grid;
	grid-template-areas: 
	"pres"
	"vice"
	"sec"
	"fin"
	"edu"
	"pub";
	grid-template-rows: repeat(6, 1fr); 
}
	
	/*May be omitted - doing nothing important*/
	/*section.officer-box {
		display: grid;
	}*/

		section.officer-box.pres-box {
			grid-area: pres;
		}

		section.officer-box.vice-box {
			grid-area: vice;
		}

		section.officer-box.sec-box {
			grid-area: sec;
		}

		section.officer-box.fin-box {
			grid-area: fin;
		}

		section.officer-box.edu-box {
			grid-area: edu;
		}

		section.officer-box.pub-box {
			grid-area: pub;
		}



			/* White Round Containers */
			div.round-con {
				width: 15vh;
				height: 15vh;
				border-radius: 50%;
				background-color: white;
				border: 1px solid gray;
				margin: 0 auto;
				box-shadow: 3px 1px 12px #2C886C;
				display: grid;
				align-items: center;
				justify-items: center;
			}

				/* Officer's Avatar */
				div.round-con > img.img-responsive {
					width: 70%;
				}
/*************************/
/**                     **/
/**        Blog         **/
/**                     **/
/*************************/

section.art-img {
	text-align: center;
}

section.art-img img {
	width: 50%;
}


/*************************/
/**                     **/
/**       Credits       **/
/**                     **/
/*************************/

div.well#credit-well {
	min-height: 80vh;
}

	div.well#credit-well a {
		text-decoration: none;
		color: teal;
	}
	


/*************************/
/**                     **/
/** Calendar of Events  **/
/**                     **/
/*************************/

table {
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
	border-spacing: 0;
	position: relative;
	height: 100%;
	width: 100%;
}

table thead th {
	background-color: #37846F;
	color: white;
	font-size: 2vh;
	font-weight: bold;
	padding: 8px 2px;
	text-align: center;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
}

table thead th.arrow:first-child {
	text-align: right;
}

table thead th.arrow:last-child {
	text-align: left;
}

table thead th.arrow a {
	color: white;
	font-family: 'MS Gothic';
}

table thead th.arrow a:hover {
	color: #333333;
	text-decoration: none;
}

table tbody th {
	box-shadow: inset 0 1px 0 0 white;
	background-color: #f5f5f5;
	background-image: linear-gradient(top, #f5f5f5, #e8e8e8);
	border-bottom: 1px solid #d4d4d4;
	color: #666666;
	font-size: 7.5pt;
	font-weight: normal;
	padding: 4px 0;
	text-align: center;
	text-shadow: 0 1px 0 #ffffff;
	text-transform: uppercase;
	width: 34px;
}

table tbody th:first-child {
	border-left: 1px solid #abb6bf
}

table tbody th:last-child {
	border-right: 1px solid #abb6bf
}

table tbody td {
	background-color: #fcfdfd;
	border-bottom: 1px solid #e2e2e2;
	border-left: 1px solid #e2e2e2;
	color: #444444;
	font-size: 11pt;
	font-weight: bold;
	height: 27px !important;
	padding: 0;
	text-align: center;
	width: 34px;
}

table tbody td.today {
	background-color: #f5f5f5;
	background-image: linear-gradient(top, #f5f5f5, #e8e8e8);
	border-left: 1px solid #c4c4c2;
	border-bottom: 1px solid #c4c4c2;
}

table tbody td.last-week {
	border-bottom: 1px solid #c4c4c2
}

table tbody td.tomorrow {
	border-left: 1px solid #c4c4c2
}

table tbody td.off {
	color: #d8dbde
}

table tbody td:last-child {
	border-right: 1px solid #abb6bf
}

table tbody td:first-child {
	border-left: 1px solid #abb6bf
}

table tbody td:not(:last-child) {
	box-shadow: inset -1px 0 0 0 #eeefef;
}

table tbody td:not(:last-child).today {
	box-shadow: inset -1px 0 0 0 #d8d8d7;
}

table tbody td.event {
	position: relative
}

table tbody td.event:after {
	border-radius: 5px;
	box-shadow: inset 0 1px 0 0 #e88486;
	background-color: #37846F;
	background-image: linear-gradient(top, #37846F, #fff);
	position: absolute;
	right: 2px;
	bottom: 2px;
	border: 1px solid #ac2826;
	content: " ";
	display: block;
	height: 4px;
	width: 4px;
}
